.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-image: url('tech.jpg');
  height: 150px;
  padding: 20px;
  color: white;
}

.page-links {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.list-items {
  display: flex;
  justify-content: space-between;
}

.list-items a {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: white;
  margin-top: 2rem;
}

.home-description {
  margin-left: 2rem;
  margin-right: 2rem;
}

.App-intro {
  font-size: large;
}

@media (min-width:750px) {
  .App {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
