
.list-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  background-color: #efefef;
  border-radius: 5px;
  margin-left: 5rem;
  margin-right: 5rem;
}

.address {
  font-weight: bold;
}

.store-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.click-desc {
  font-size: 10px;
}

@media (min-width:1000px){
  .list-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    background-color: #efefef;
    border-radius: 5px;
    margin-left: 10rem;
    margin-right: 10rem;
  }

}
